{% extends "base.html" %}
{% block extra_head %}
<script src="/static/js/jquery-3.1.1.min.js.js" type="text/javascript"></script>
<script src="/static/highcharts/highcharts.js"></script>
<script src="/static/highcharts/modules/exporting.js"></script>
<script src="/static/js/jquery.chained.min.js" type="text/javascript"></script>
<script charset=utf-8>
  $(function(){
      $("#id_transaction_form-category").chained("#id_transaction_form-budget");
  });
  </script>
{% endblock %}
{% load humanize %}
{% block content %}

<form action="/transactions/{{ account }}/" method="post" class="ink-form">
    {% csrf_token %}
    <input type='hidden' name='action' value='add_transaction'>
    <label for="date">Date</label>
    {{ transaction_form.date }}
    <label for="beneficiary">Beneficiary</label>
    {{ transaction_form.beneficiary }}
    <label for="budget">Budget</label>
    <select id="id_transaction_form-budget" name="transaction_form-budget">
        <option value="" selected="selected">---------</option>
        {% for item in transaction_form.fields.budget.queryset %}
        <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
        </select>
    <label for="category">Category</label>
    <select id="id_transaction_form-category" name="transaction_form-category">
        <option value="" selected="selected">---------</option>
        {% for c in transaction_form.fields.category.queryset %}
        <option value="{{ c.id }}" class="{{ c.budget.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>
    <label for="amount">Amount</label>
    {{ transaction_form.amount }}
     <label for="direction"></label>
    {% for item in transaction_form.direction %}
    {{ item }}
    {% endfor %}
    <input type="submit" value="Add Transaction" />
</form>
<hr />
<h2>Transactions for {{ account }} {% if account.balance > 0 %}<span style="color:#239b56">${{ account.balance|intcomma }}</span>{% else %}<span style="color: #FF5733">${{ account.balance|intcomma }}</span>{% endif %}</h2>
<form action="/transactions/{{ account }}/" method="post" class="ink-form">
    <input type='hidden' name='action' value='date_filter'>
    {% csrf_token %}
    {{ filter_form }}
    <input type="submit" value="Filter Transactions" />
</form>
<table class="ink-table alternating">
    <thead>
    <tr>
        <th class="align-left">Date</th>
        <th class="align-left">Payee</th>
        <th class="align-left">Amount</th>
        <th class="align-left">Balance</th>
    </tr>
  </thead>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.date }}</td>
        <td>{% if transaction.from_account %}TRANSFER from {{transaction.from_account}}{% elif transaction.to_account %}TRANSFER to {{ transaction.to_account }}{% else %}{{ transaction.beneficiary }}{% endif %}</td>
        <td>{% if transaction.debit == False or transaction.from_account %}+{% endif %}{{ transaction.amount|intcomma }}</td>
        <td>{% for key, value in balances.items%}{% if key == transaction.id %} {{ value }} {% endif %} {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
{% if error %}
<p style="color:#FF5733">{{ error }}</p>
{% endif %}
{% if transaction_form.errors %}
    {% for field in transaction_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <p style="color:#FF5733"><strong>{{ error|escape }}</strong></p>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in transaction_form.non_field_errors %}
        <div class="alert alert-danger">
            <p style="color:#FF5733"><b>{{ error|escape }}</b></p>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}